@import 'common';
.footers{
	clear: both;
}
.nav{
	width: 1200px;
	line-height:40px;
	margin:0 auto;
	font-size: 12px;
	color: #959595;
	a{
		font-size: 12px;
		color: #959595;
		line-height:40px;
		&:hover{
			color: #ff6800;
			text-decoration: underline;
		}
	}
}


.content{
	width: 1200px;
	margin:0 auto;
	.con_left{
		width: 210px;
		float:left;
		.con_menu{
		    border-top: 2px solid #8ab700;
		    border-left: 1px solid #efefe8;
		    border-right: 1px solid #efefe8;
		    margin-bottom: 15px;
		    p{
		        background-color: #fafafa;
			    color: #6b6b56;
			    font: 400 16px/35px "微软雅黑";
			    padding-left: 22px;	
		    }
		    dl{
			    border-bottom: 1px solid #efefe8;
			    dt{
		    	    background: url(../../icon/sort-tri2.jpg) 22px center no-repeat;
				    line-height: 35px;
				    cursor: pointer;
				    text-indent: 20px;
				    padding-left: 22px;
				    font-size: 14px;
				    color:#78a001;
			    }
			    dd{
				    padding: 5px 0 5px 34px;
				    display: none;
				    a{
				    	padding: 0 8px;
					    color: #4c4c4c;
					    line-height: 26px;
					    display: block;
					    &:hover{
					    	color:#8ab700;
					    }
				    }
			    }
			    &:hover{
			    	dd{
			    		display: block;
			    	}
			    	dt{
			    		background-color: #8ab700;
			    		background-image: url(../../icon/sort-tri1.jpg);
			    		color:#fff;
			    	}
			    }
		    }	
		}

		.history{
		    border-top: 2px solid #8ab700;
		    border-left: 1px solid #efefe8;
		    border-right: 1px solid #efefe8;
		    margin-bottom: 15px;
			dl{
				color: #333;
				dt{
					background: #fafafa;
					line-height: 35px;
					font-size: 16px;
					padding:{
						left:21px;
						right:10px;
					}
					a{
						float: right;
					    border: 1px solid #8ab700;
					    font: 400 12px/18px "微软雅黑";
					    color: #8ab700;
					    padding: 0 8px;
					    margin-top: 7px;
					    &:hover{
					    	color: #ff6900;
						    border: 1px solid #ff6900;
						    text-decoration: none;
					    }
					}
				}

				dd{
				    border-bottom: 1px solid #efefe8;
				    padding: 10px;
				    overflow: hidden;
				    .pic{
			    	    float: left;
					    margin-right: 5px;
				    }
				    .name{
			    		float: right;
				    	a{
						    width: 113px;
						    height: 36px;
						    font: 400 12px/18px "Microsoft YaHei";
						    color: #3e4141;
						    text-overflow: clip;
						    display: block;
						    overflow: hidden;
						    margin-top: 5px;
						    &:hover{
					    	    color: #ff6900;
								text-decoration: underline;						    	
						    }
				    	}
				    }
				    .price{
				    	float: left;
			    	    color: #ff6900;
					    line-height: 26px;
				    }
				}
			}
		}
	}

	.con_right{
	    float: right;
	    display: inline;
	    width:970px;
	    .con_tit{
	    	margin-bottom: 10px;
	    	h1{
	    		font: 400 20px/35px "微软雅黑";
			    color: #333;
	    	}
	    }
	    .con_word{
    	    background-color: #f8f8f6;
		    margin-bottom: 10px;
		    border-bottom: 1px solid #eee;
		    height: 32px;
		    .con_left1{
		    	float: left;
		    	padding-left:10px;
		    	width:460px;
		    	a{
					float: left;
					padding:0 25px;
					line-height: 32px;
					text-align: center;
					&:hover{
						color: #ff6900;
						text-decoration: underline;
					}
		    	}
		    }

		    .con_right{
		    	float:right;
		    	width: 500px;
		    	dl{
		    		float:right;
		    		dt{
						padding: 0 25px;
					    color: #626262;
					    line-height: 32px;
					    float: right;
					    span{
					    	color:#ff6900;
					    }
		    		}
		    		dd{
		    			float: right;
					    padding-top: 8px;
					    a{
					    	float: left;
						    color: #626262;
						    border: 1px solid #d2d2d0;
						    padding: 0 6px;
						    line-height: 14px;
						    display: block;
					    }
					    p{
					    	float: left;
						    line-height: 16px;
						    color: #626262;
						    padding: 0 15px;
					    }
		    		}
		    	}
		    }
	    }

	    .con{
    		ul{
    			overflow: hidden;
				width: 968px;
			    border-top: 1px solid #eee;
			    border-left: 1px solid #eee;
			    margin-bottom: 30px;
			    display: none;
			    li{
				    width: 241px;
				    float: left;
				    height: 394px;
				    border-bottom: 1px solid #eee;
				    border-right: 1px solid #eee;
				    background-color: #fff;
				    overflow: hidden;
				    .box{
			    	    border: 4px solid #fff;
					    width: 211px;
					    height: 386px;
					    padding: 0 11px;
					    position: relative;
					    transition: all .2s linear;
					    .pic{
				    	    margin-top: 26px;
						    width: 201px;
						    text-align: center;
						    transition: all .2s linear;
					    }
					    .name{
					    	height: 48px;
						    width: 211px;
						    text-overflow: clip;
						    overflow: hidden;
						    margin-top: 20px;
						    transition: all .2s linear;
						    a{
					    	    font: 400 14px/24px "Microsoft YaHei";
							    color: #1b1b15;
							    text-decoration: none;
							    em{
							    	max-height: 24px;
								    _height: 24px;
								    text-overflow: clip;
								    display: block;
								    overflow: hidden;
								    font-size: 14px;
								    transition: all .2s linear;
								    cursor: pointer;
								    font-style: normal;
							    }
							    span{
							    	    font: 400 12px/24px "Microsoft YaHei";
									    color: #929292;
									    text-overflow: clip;
									    display: block;
									    overflow: hidden;
									    font-size: 14px;
									    height: 24px;
									    cursor: pointer;
							    }
							    &:hover{
							    	color: #ff6900;
							    	span{
							    		color:#ff6900;
							    	}
							    }
						    }
					    }
					    .price{
				    	    font: 400 20px/25px "Microsoft YaHei";
						    color: #ff6900;
						    margin-top: 5px;
						    transition: all .2s linear;
						    span{
							    color: #686c69;
							    text-decoration: line-through;
							    margin-left: 10px;
							    font-size:14px;
						    }
					    }

					    .number{
					    	margin: 4px 0 0;
						    float: right;
						    display: none;
						    .minus{
					    	    background: url(../../icon/sort-minus.jpg) left top no-repeat;
							    
						    }
						    .plus{
					    	    background: url(../../icon/sort-plus.jpg) left top no-repeat;
							    
						    }
						    input{
					    	    border: 1px solid #eeeee7;
							    width: 32px;
							    height: 22px;
							    float: left;
							    text-align: center;
							    font: 400 14px/22px "Microsoft YaHei";
							    color: #626252;
							    outline: none;
						    }
						    a{
						    	width: 18px;
							    height: 24px;
							    display: block;
							    float: left;
						    }
					    }
					    .btn{
					    	position: absolute;
						    top: 390px;
						    left: 0;
						    transition: all .2s linear;
						    z-index: 2;
					    }

					   	&:hover{
					   		border-color: #f0f0f0;
					   		.pic{
				   			    margin-top: 10px;
					   		}
					   		.name{
					   			height: 72px;
							    margin-top: 5px;
							    em{
						    	    max-height: 48px;
							    }
					   		}
					   		.number{
					   			display: block;
					   		}
					   		.btn{
					   			top: 354px;
					   		}
					   	}
				    }
			    }
    		}
    		.con_focus{
    			display: block;
    		}

    		.con_page{
			    float: right;
			    width: 600px;
			    margin-bottom: 40px;
			    dl{
			    	dt{
			    		float: right;
					    width: 150px;
					    p{
				    	    line-height: 24px;
						    float: left;
					    }
					    input{
					    	border: 1px solid #d8d8d8;
					    	outline: none;
						    width: 18px;
						    height: 22px;
						    line-height: 22px;
						    text-align: center;
						    color: #626262;
						    margin: 0 8px 0 3px;
						    float: left;
					    }
					    a{
					    	background-color: #8ab700;
						    color: #fff;
						    border: 1px solid #657437;
						    padding: 0 10px;
						    line-height: 22px;
						    float: left;
						    margin-left: 10px;
					    }
			    	}

			    	dd{
		    		    float: right;
					    margin-right: 10px;
					    border-left: 1px solid #d8d8d8;
			    		.page_pre{
		    			    background-color: #fafafa;
						    color: #959595;
			    		}
			    		a{
		    			    float: left;
						    border-right: 1px solid #d8d8d8;
						    border-top: 1px solid #d8d8d8;
						    border-bottom: 1px solid #d8d8d8;
						    line-height: 22px;
						    display: block;
						    padding: 0 6px;
						    color: #626262;
						    &:hover{
						    	background-color: #8ab700;
							    color: #fff;
							    text-decoration: none;
						    }
			    		}
			    	}
			    }
    		}
	    }
	}	
}
